# **/NSM_MODELS
**/DOSMA
**/DOSMA_WEIGHTS
**/nsm
**/pymskt
**/Dependencies
**/MDC_controls
**/models_and_weights
**/mean_data

dosma_knee_seg_orig.py
config.json

*_.py
test_commands.txt


**/*.pyc
**/__pycache__
*.DS_Store
