**/NSM_MODELS
**/DOSMA
**/DOSMA_WEIGHTS
**/nsm
**/pymskt
**/Dependencies
**/BSCORE_MODELS
**/MDC_controls
**/models_and_weights
**/mean_data

dosma_knee_seg_orig.py
config.json

*_.py
test_commands.txt


